.chatRoomHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  position: relative;
  border-bottom: 1px solid blue;
  height: 7vh;
}

.addChatGroupBtn {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
}

.chatMenuDropdown {
  position: relative;
}

.chatMenuDropdownContent {
  display: block;
  position: absolute;
  background-color: #ffffff;
  min-width: auto;
  width: 90%;
  transform: translate3d(5px, 0px, 0px);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  z-index: 1;
  border-radius: 5px;
}
.chatMenuDropdownBtns {
  display: block;
  text-align: center;

  :not(:first-child) {
      margin-top: 7px;
  }
}

.chatMenuBtn {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
  color: #a8a8a8;
  width: 100%;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}
