.backDropModal {
  background-color: rgba(197, 197, 197, 0.521);
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
}

.joinModale {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modaleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 10px;
}

.modaleTitle {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #c8c8c8;
  font-weight: 600;
  text-align: center;
}

.modaleTitleHeader {
  color: #c8c8c8;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  flex: 1;
  padding-left: 20%;
}
.conferenceName {
  color: #1100ff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.modaleInfo {
  margin-top: 15px;
  margin-bottom: 0;
  color: #a8a8a8;
  font-size: 14px;
  text-align: center;
}

.ibpPrimarySelectBtn {
  border: 0;
  background-color: #fe1b55;
  border-radius: 20px;
  color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.ibpPrimaryBtn:hover {
  color: white !important;
}

.contentModale {
  z-index: 9;
  overflow-y: auto;
  margin: 15% auto;
  width: 340px;
  max-height: 80vh;
  background-color: white;
  border-radius: 10px;
}

.ibpDropdown {
  //position: relative;
  display: inline-block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.ibpDropdownItem {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
  width: 100%;
  font-size: 14px;
  color: #a8a8a8;
}

.ibpDropdownContent {
  display: none;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: auto;
  width: 97%;
  //   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #d1d0d0;
  border-right: 1px solid #d1d0d0;
  border-bottom: 1px solid #d1d0d0;
  padding: 10px;
  // transform: translate(7px, 0px);
  margin-left: 7px;
}

.activeDropdown {
  display: block;
}

.activeIbpBtn {
  background-color: #1100ff !important;
  color: white !important;
  border: none !important;

  img {
    fill: white;
  }
}
.activeIbpBtn:active {
  opacity: 0.7;
}

// .ibp-dropdown:hover .ibp-dropdown-content {
//   display: block;
// }

.ibpDropdownBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectBtns {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;

  .ibpDropdown {
    margin-top: 10px;
  }

  .dropdownMenu {
    width: 100%;
  }

  .txtCenter {
    text-align: center !important;
  }

  .headsetSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headsetVolume {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .activeSelection {
      color: #1100ff !important;
    }

    .css-yvszuv-Slider {
      height: 7px !important;
    }

    .css-3g5hux-Slider {
      background-color: #1100ff !important;
      flex-grow: 3;
    }
    .css-1ldz52l-Slider {
      border-radius: 2px !important;
      width: 5px;
      height: 15px;
      background-color: #1100ff !important;
    }
  }
}

.settingsText {
  color: #a8a8a8;
  font-size: 15px;
}

.activeSelectedBtn {
  color: #1100ff !important;
  font-weight: bold !important;
}
.activeSelectedBtn:active {
  opacity: 0.7;
}

.demoExitContainer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 25px;
}
.helpActive {
  z-index: 999999;
}
.helpActive i {
  color: #fff;
}
.helpActive i::after {
  content: "";
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 4px 0 0 -12px;
  box-sizing: border-box;
}
.helpActive .helpText {
  display: block;
}

.helpIcon {
  z-index: 99999;
  position: relative;
}
.helpText {
  font-size: 12px;
  display: none;
  position: absolute;
  right: 45px;
  top: 35px;
  width: 202px;
  background: #fff;
  color: #000;
  padding: 16px 10px 6px;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btnTimer {
  width: 150px;
  font-size: 12px;
  font-weight: 800;
  padding: 5px;
  color: white;
  background-color: rgb(59, 126, 240);
  outline: none;
  border-width: 0;
  border-radius: 13px;
  box-shadow: 1px 3px 3px rgb(201, 201, 202);
}
.btnTimer:active {
  opacity: 0.7;
}
.textLg { font-size: 14px; margin: 0 0 6px;}

@media screen and (max-width: 600px) {
  .contentModale {
    width: 90%;
  }

  .joinModale {
    border-radius: 0;
  }
}
