- assets = assets.app
- assets = Array.isArray(assets) ? assets : [assets]

doctype html
html
  head
    title= title || 'iBridge People AudioDesk ®'
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' rel='stylesheet')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    include ../shared/stylesheets
  body
    .page-holder
      block content

    include ../shared/javascripts
