@import "../../../../../stylesheets/common";

.area { padding-top: 128px; padding-bottom: 128px; background-color:$natural_grey; margin: 128px 20%; border-radius: 8px }
.icon { font-size: 16px !important; display: inline !important; } 