$white: #fff;
$light_grey: #f0f0f0;
$natural_grey: #e4e5e6;
$little_grey:  #cdcecf;
$gold_grey: #babbbc;
$grey:  #8c8d8e;
$grey_dark: #343536;
$black: #000000;

$warning_light: #fbbd08;
$warning_dark: #eda617;
$warning: #f2711c;
$speaking: #db2828;
$brown: #950000;
$success: #b5cc18;
$active: #0d71bb;
$purple: #3855c7;

$booth_light: #e9e2e2;
$booth: #988181;
$booth_dark: #6b2e2e;

$regular_light: #e6e6e6;
$regular: #767676;
$regular_dark: #454647;


