.splashBox {background: rgba(255, 255, 255, 1); position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 1000; display: block; text-align: center;}
.splashContent { text-align: center; }
.text { position: relative; padding: 60px 10px 20px; line-height: 20px; left: 0; right: 0; text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);}
.blackBtn { width: 150px;  border: none; background: #000; display: inline-block; color: #fff; height: 40px; font-size: 16px; border-radius: 6px; cursor: pointer; }
.blackBtn:active { color: #e09c15; }
