.switcherForm { display: inline-block;}
.meetingField {display: inline-block; vertical-align: middle; border-bottom: 2px solid #000; margin: 0 6px 0 0;}
.meetingField input { border: none; background: none; height: 32px;}
