.admin-menu
  a(href="/admin") Meeting Form
  a(href="/connect?skipBrowserID=true") User Form
  a(href="/connect/interpreter?skipBrowserID=true") Interpreter Form
  a(href="/connect/coordinator?skipBrowserID=true") Coordinator Form
  a(href="/admin/monitor") Monitor
  a(href="/admin/switcher") Switcher

