.moderatorRoomControl {
  width: 260px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.controlRow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f3f3f3;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
}

.offlineOnline {
  margin: 0;
  font-size: 14px;
  color: #a8a8a8;
  font-weight: bold;
  text-align:center;
}

.offlineOnlineActive {
  color: #fe1d54;
  text-align:center;
  margin: 5px;
}

.likeIcon {
  color:#01A2FF;
  width: 35px;
  height: 35px;
}

.offlineOnlineActive2 {
  color:  #01A2FF;
  text-align:center;
}

.messagesContainer {
  text-align: center;
  font-size: 14px;
  color: #a8a8a8;
  min-height: 21px;
}

.relayMsg {
  color: #a8a8a8;
}

.relayMsgActive {
  color: #fe1d54 !important;
}

.relayBtn {
  margin: 0 3px 0 3px;
  outline: none !important;
  background-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  border: 1px solid #fefefe;
}

.hover:hover {
  cursor: pointer;
}

.switchIcon {
  fill: #a1a1a1;
}

.exclIcon {
  fill: #a1a1a1;
}

.switchIconActive {
  fill: #fe1d54;
}

.exclIconActive {
  fill: #fe1d54;
}
.active{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color:rgba(254, 29, 84 ,0.4);
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.activeReady{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color:rgba(55, 170, 53,0.4);
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fadein{
  animation: fadein 1.5s;
  animation-iteration-count: infinite;
}
.fadeout{
  animation: fadeout 1.5s;
  animation-iteration-count: infinite;
}
.fadeout_red{
  animation: fadeout-red 1.5s;
  animation-iteration-count: infinite;
}
.fadeout_green{
  animation: fadeout-green 1.5s;
  animation-iteration-count: infinite;
}

.wraptext {
  white-space: pre-wrap
}
.circle {
	// background-color: rgba(254, 29, 84, 1);
	border-radius: 50%;
	animation: pulse-red 2s infinite;
	height: 40px;
	width: 40px;
}


@keyframes pulse-red {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(254, 29, 84, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(254, 29, 84, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(254, 29, 84, 0);
	}
}

@keyframes fadein{
  0% {opacity: 1;}
  30%{opacity: 0.7;}
  50% {opacity: 0.3;}
  100% {opacity: 0;}
}
@keyframes fadeout-red {
  0% {background-color: white;}
  50% {background-color: rgba(254, 29, 84 ,0.4);}
  100% {background-color: white;}
}
@keyframes fadeout-green {
  0% {background-color: white;}
  50% {background-color: rgba(55, 170, 53,0.4);}
  100% {background-color: white;}
}
