.container { max-width: 400px; width: 100%; margin: 0 auto; flex: 1; padding: 0; position: relative; }
.container > :global(.ui.loader) { position: absolute; top: 50%;  left: 50%;  transform: translate(-50%, -50%); }
