.transcriptionContainer {
    margin-top: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;

    .transcriptionInfo {
        color: #a8a8a8;
        font-size: 15px;
    }
}