.mhrContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .handRaisedBtn {
        position: relative;
    }

    .handRaisedNotAllowed {
        cursor: not-allowed;
        opacity: 0.4;
    }

    .noBorderBtn {
        border: none;
        background-color: transparent;
    }

    .handRaisedBtn {
        border: none;
        background-color: transparent;
    }

    .microBtn {
        background-color: transparent;
        border: 2px solid #cccccc;
        border-radius: 100px;
        height: 10vh;
        width: 10vh;
    }

    .microActivated {
      background-color: rgba(17, 0, 245, 1);
      border-width: 0px;
    }

    // .microBtnDisable {
    // }
    .raiseHandPos {
      color: blue;
      position: absolute;
      left: 15px;
      font-size: 0.9em;
    }
}
