.loginHolder {padding: 120px 1rem 1rem 1rem;}
.loginForm { }
.header  {text-align: center; }
:global(.ui).header :global(.icon) { font-size: 1.8rem; vertical-align: top; margin: -0.4rem 0 0 0.6rem;}
.btnBar {margin: 20px; text-align: center;}
