{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
//          "last 2 Chrome versions",
//          "last 2 Firefox versions",
          "edge 15",
          "node 10.6.0"
        ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
