stages:
  - deploy

variables:
    SSH_HOST: 192.168.1.134
    PROJECT_PATH: /home/app/apps/webphone
    CI_DEBUG_TRACE: "true"

default:
  image: docker:stable
  before_script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - echo "$DEPLOYMENT_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 400 ~/.ssh/id_rsa
    - ssh-add ~/.ssh/id_rsa
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

deploy_feature:
  stage: deploy
  when: manual
  except:
    - staging
    - master
  environment:
    name: staging
  variables:
    PF: staging
  script:
    - ssh -A $USER@$SSH_HOST -C " cd $PROJECT_PATH && git fetch && git checkout --force $CI_COMMIT_REF_NAME && git reset --hard origin/$CI_COMMIT_REF_NAME"
    - ssh -A $USER@$SSH_HOST -C " $PROJECT_PATH/update.sh staging"
  tags:
    - staging

deploy_staging:
  stage: deploy
  when: manual
  only:
    - staging
  environment:
    name: staging
  variables:
    PF: staging
  script:
    - ssh -A $USER@$SSH_HOST -C " cd $PROJECT_PATH && git fetch && git checkout --force $CI_COMMIT_REF_NAME && git reset --hard origin/$CI_COMMIT_REF_NAME"
    - ssh -A $USER@$SSH_HOST -C " $PROJECT_PATH/update.sh staging"
  tags:
    - staging

deploy_prod:
  stage: deploy
  when: manual
  only:
    - master
  environment:
    name: prod
  variables:
    PF: production
  script:
    - ssh -A $USER@$SSH_HOST -C " cd $PROJECT_PATH && git fetch && git checkout --force $CI_COMMIT_REF_NAME && git reset --hard origin/$CI_COMMIT_REF_NAME"
    - ssh -A $USER@$SSH_HOST -C " $PROJECT_PATH/update.sh production"
  tags:
    - prod

