.holder {flex: 1 0 0; position: relative; margin-right: -1.5rem; padding-right: 1.5rem;}
.list { position: relative; }
.message {margin: 0 0 20px;}
.message .bar {display: flex;}
.text {
  background-color: #f1f0f0;
  padding: 5px;
  border-radius: 1.3em;
  color: #333;
  clear: both;
  display: inline-flex;
}
.me {
  .bar {
    justify-content: flex-end;
  }
  text-align: right;
  .text {
    background-color: rgb(0, 153, 255);
    padding: 6px;
    border-radius: 1.3em;
    color: #fff;
  }
}
.username {font-weight: bold; color: #2c53bc; padding-right: 5px}
.timestamp {color: #9c9c9c; font-size: 0.86rem;}
