.holder {padding: 1rem; display: flex; flex-direction: column; height: 100%;}
.textarea { flex: 1 !important; margin-right: 0.5em;}
.textarea textarea {max-height: 75px; }
:global {
  .ui:local(.holder) .fields {margin-bottom: 0; margin-top: 1rem;}
}
