@import "../../../../../stylesheets/common";

.platformURL {cursor: pointer; background: $active; padding: 3px 10px; border-radius: 12px; color: $white; font-size: 14px; font-weight: 300; margin: 0 6px 0 6px;}