@import "../../../../../stylesheets/common";

.header {
  color: $regular_dark !important;
  letter-spacing: 0.7px;
}

.bar { 
  background-color: $white;
  padding: 2px 6px;  
  border-radius: 4px;
  border: 1px solid #eee;
}

.other {
  margin: 3px !important;
}

.component {
  margin: 2px
}

.icon {
  font-size: 0.9em !important;
  color: $little_grey !important;
}

.none {
  color: $gold_grey;
  font-size: 12px;
}

.allMeetings {
  font-size: 12px;
  color: $grey !important;
  margin-bottom: 8px;
}

.meetingsTitle {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: $grey_dark;
}

.link {
  color: $active;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.numbers {
  margin-left: 8px;
  display: inline-block;
}

.height_full {
  height: 150px;
}

.height_normal {
  // height: 100px;
}

.meetingInfo {
  width: 40px;
}

.title {
  // padding-bottom: 0 !important;
}

.list {
  padding: 0 0 6px 20px !important;
}

.users_warning {
  color: $warning_light;
  font-size: 12px;
  margin-left: 8px;
}

.users {
  color: $grey;
  font-size: 12px;
  margin-left: 8px;
}

.meetings {
  color: $grey;
  font-size: 12px;
}

@media screen and (max-width: 768px) { 
  .others {
    display: none !important;
  }
}