.chatRoomContainer {
  padding: 0 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.chatRoomContainerMobile {
  padding: 0 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 85vh;
}


.chatRoomMessageHeader {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.backChatItemsBtn {
  background-color: transparent;
  box-shadow: none;
  border-width: 0;
}

.chatParticipants {
  margin-left: 3px;
  margin-bottom: 0;
  color: #a8a8a8;
  font-weight: bold;
}

.inputGroup {
  margin-top: 15px;
  // margin-right: 20px;
  border-radius: 20px;
  background-color: rgb(241, 241, 241) !important;
  width: 80%;
  margin-left: auto;
  // margin-right: auto;
  position: initial !important;
}

.iconUpload{
  margin-top: 10px;
  margin-right: 5px;
}
.formControl {
  border: none !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  padding-top: 10px;
}

.chatInput {
  color: #464545 !important;
  font-weight: bold;
  font-size: 14px;
  ::placeholder {
    color: #a8a8a8;
  }
  resize: none;
  margin: 0;
  padding-right: 0;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputGroupText {
  background: transparent !important;
  border: none !important;
  cursor: pointer;
}
.inputGroupText:focus {
  outline: none;
}

.previewWrapper {
  // height: 100px;
  width: 100%;
  // max-width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px !important;
  height: 0;
  transition: height 0.15s ease-out;
  overflow: hidden;
  background: #f1f1f1;
  position: relative;
}

.previewContent {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  position: relative;
}

.previewContentImg {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.removeIcon {
  position: absolute;
  z-index: 10000;
  left: 75px;
  cursor: pointer;
}

.previewContentInfo {
  background: white;
  color: #464545;
  font-weight: bold;
  font-size: 14px;
  padding-left: 5px;
  display: flex;
  // alignItems:'center';
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
}

.divider {
  border-top: 3px solid #bbb;
}

.linkBtn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.inputWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}


