.wrapper { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 100; box-sizing: border-box; padding: 8px 5px 15px; overflow-y: scroll;}
.holder { position: relative; z-index: 5; max-width: 600px; margin: 0 auto;}
.holder select { width: 100%; box-sizing: border-box; }
.overlay { background: rgba(0, 0, 0, 0.88); position: fixed; left: 0; top: 0; right: 0; bottom: 0; }
.helpOverlay {background: rgba(0, 0, 0, 0.88); position: absolute; left: -9000px; top: -9000px; right: -9000px; bottom: -9000px; cursor: pointer; z-index: 20;}
.contentBox {background: #fff; padding: 20px 10px; margin: 20px auto;}
.contentBox p {margin: 0 0 20px;}
/**/
.introStep {@extend .contentBox; margin-top: 107px;}
.introStep label input {float: left; }
.introStep label span {display: block; margin: 0 0 0 25px;}
/* devices */
.deviceBox {background: #fff; padding: 5px 10px; margin: 34px 0 30px 0; position: relative;}
.deviceBox::before {background-size: contain; content: ''; height: 45px; width: 46px; position: absolute; left: 50%; margin: 0 0 0 -23px; top: -24px;}
.audioOutputBox,
.audioInputBox {@extend .deviceBox;}
.audioOutputBox::before { background: url("assets/images/icon-speaker.png") 0 0 no-repeat; }
.audioInputBox::before { background: url("assets/images/icon-mic.png") 0 0 no-repeat; }
.audioOutputBox + .audioInputBox {margin-top: 50px;}
.audioInputBox canvas {width: 100%; height: 6px; margin: 10px 0 0 0; background: #e6e6e6; border: 0; box-sizing: border-box; }
/**/
.webrtcHintBox { padding: 5px 0; position: relative; z-index: 100;}
.webrtcHintBox .whiteTextTip { height: 66px;}
.hint {background: #fff; top: 0; bottom: 0; left: 0; right: 0; position: absolute; z-index: 10;}
.whiteTextTip {color: #fff; position: relative; z-index: 10; padding: 8px; font-size: 16px; text-align: center;}
.descTip {color: #333; font-style: italic; padding: 8px 0;line-height: 16px;}
/**/
.deviceBar {display: flex; justify-content: space-between; margin: 0 0 6px;}
.deviceBar span {position: relative; display: inline-block; height: 26px; }
.deviceBar .helpIcon {margin: 0 0 0 auto;}
.deviceBar i {font-size: 26px; cursor: pointer;}
.deviceBar i.disabled {color: #888; cursor: default;}
.helpActive {z-index: 30;}
.helpActive i {color: #fff; }
.helpActive i::after { content: ""; border-style: solid; border-width: 0 12px 12px 12px; border-color: transparent transparent #fff transparent; position: absolute; top: 100%; left: 50%; margin: 4px 0 0 -12px; box-sizing: border-box; }
.helpActive .helpText {display: block;}
.helpText { font-size: 12px; display: none; position: absolute; right: -8px; top: 42px; width: 202px; background: #fff; color: #000; padding: 16px 10px 6px; box-sizing: border-box;}
.helpText p {margin: 0 0 10px;}
/**/
.inputMeter { background-color: #eee; width: 100%; height: 10px; }
.inputSlider {position: relative; box-sizing: border-box; margin: 4px 0 0 0; padding: 0 0 0 24px;}
.inputSlider span {position: absolute; left: 4px; top: -7px; height: 20px; }
.inputSlider span i {cursor: pointer; font-size: 20px;}
.disabledSlider span {}
.lockActive {@extend .helpActive;}
.lockActive i {}
.lockActive .helpText {left: -12px; right: auto; top: 36px;}
/**/
.cursorDefault {cursor: default !important;}
.textLg { font-size: 14px; margin: 0 0 6px;}
.btnLine { display: flex; justify-content: space-between; margin: 0 0 10px; }
.btn { font-size: 11px; background: none; border: 1px solid #000; color: #000; width: 40px; height: 40px; display: block; margin: 0 auto; border-radius: 60px; line-height: 40px; text-align: center; cursor: pointer; outline: none;}
.btn:hover { background: #ffc000; border-color: #ffc000; color: #000;}
.btnBig { width: 60px; height: 60px; font-size: 16px; margin: 0 auto; display: block; font-weight: bold; line-height: 59px; background: none; border: 2px solid #fff; color: #fff; cursor: pointer; border-radius: 60px; outline: none}
.btnBig:hover {background: #ffc000; border-color: #ffc000; color: #000;}
