@import "../../../../../stylesheets/common";

.monitorBar { margin: 0 0 25px 0; display: flex; justify-content: center;}
.monitorBar span + span { margin: 0 0 0 5px;}
.monitorArea {position: relative; padding-bottom: 36px; padding-top: 60px; overflow: hidden; height: 100%;}

.backendSettings {margin-left: auto;}
.subtitle { margin-top: 6px !important; font-size: 13px !important; font-weight: 600 !important; color: $little_grey !important; }
.icon { color: $gold_grey !important; }
.sessionYellow { color: $warning_light !important; font-weight: 900 !important; }
.sessionWhite { color: $white !important; font-weight: 900 !important; }

.meetingsList {
  font-weight: 500;
  color: $grey;
  letter-spacing: 0.7px;
}
.meetingBar { display: flex; align-items: center; height: 28px; justify-content: center;}

@media screen and (max-width: 768px) { 
  .monitorArea { padding-top: 246px; }
}

.bar { 
  background-color: $white;
  padding: 12px;  
  border-radius: 4px;
  border: 1px solid #eee;
}

