.chatRoomItemContainer {
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
}

.chatRoomItemContainer:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.chatItemContainer {
  padding-left: 10px;
}

.chatRoomItemTitle {
  color: #1100ff;
  font-size: 16px;
  margin-bottom: 0;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chatRoomItemLastMessage {
  color: #a8a8a8;
  // width: 90vw;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px;
}

@media screen and (min-width: 768px) {
  .chatRoomItemLastMessage {
    // width: 230px;
  }
}
.notification {
  position: absolute;
  top: 18%;
  // bottom: 0;
  // left: 0;
  right: 5%;
  z-index: 100;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #1100ff;
}

.technicalChatTitle {
  color: #fe1b55;
  font-weight: bold;
  padding-top: 7px;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
}

.bottomGreyBar {
  width: 15%;
  height: 1px;
  background-color: #cfcfcf;
}

.technicalContainer:hover {
  background-color: #f6f6f6;
  cursor: pointer;
  position: relative;
}

.technicalContainer {
  position: relative;
}

.technicalChatContainer {
  margin-left: 10px;
}

.technical {
  padding-left: 10px;
}
