.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.clearIcon {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 10px;
  cursor: pointer;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search:hover,
.search:focus {
  // border: 1.5px solid #009688;
  background-color: white;
}

.container {
  width: 85%
}
