.noticeHolder {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
}

.messageLine {
  margin: 0;
}

.relayMsg {
  box-shadow: 2px 2px 10px rgba(0, 200, 50, 0.8);
}
